@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
nav {
  background: #222;
  /* padding: 2rem; */
}
/* #056D36 => couleur verte */
/* #E31B23 => couleur rouge */
/* pour utiliser une police d'ecriture, on utilise google font */
ul li {
  display: inline;
  list-style-type: none;
  margin: 1rem;
}
ul li a {
  color: #fff;
  text-decoration: none; /* permet d'enlever les soulignement*/
  font-weight: bold; /*mettre le texte en gras*/
  text-transform: uppercase; /* permet de modifier le comportement du texte */
}
.btn-actualite {
  background: #e31b23;
  margin-left: -20px;
  border: none;
  outline: none;
  padding: 1.7rem;
}
.btn-blog {
  background: #056d36;
  float: right;
  width: 20%;
  border: none;
  outline: none;
  padding: 1.7rem;
}
/* je moi faty qui aecrit ça */